@{
    ViewData["Title"] = "habitacion52";
}

<main class="game">
    <img src="/images/rooms/sala521.jpg" class="mainimg">

    <!--CAMBIO DE POSICION-->
    <a href='@Url.Action("Habitacion", "Home", new{sala=51})' class="arrow arrow5251"></a>
</main>