@{
    ViewData["Title"] = "habitacion51";
}
<body class="bodyGame">
    <main class="game">
        <img src="/images/rooms/sala511.jpg" class="mainimg">

        <!--FLECHAS DE CAMBIO DE HABITACION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=31})' class="arrow arrow5131" tabindex="-1"></a>
        <div>
            <!--CAMBIO DE POSICION-->
            <a href='@Url.Action("Habitacion", "Home", new{sala=52})' class="hitbox hitbox5152" tabindex="-1"></a>

            <!-- HITBOX DEL MARCADOR ROJO -->
            <a href='@Url.Action("Marcador", "Home", new{sala=51, marcador="rojo"})' class="hitbox hitboxRojo1" tabindex="-1"></a>
        </div>
    </main>
</body>