<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP05_SalaDeEscape_GrzendaME_AguileraS_MattiodaTE</title>

</head>
@await RenderSectionAsync("Scripts", required: false)
<body class="container">
    @RenderBody()
</body>
</html>
