<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Data Breach</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <nav class="returnMenu">
        <a href='@Url.Action("Index", "Home")' class="button">Menu Principal</a>
    </nav>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderBody()
</html>
