@{
    ViewData["Title"] = "habitacion31";
}
<body class="bodyGame">
    <main class="game">
        @{
            string url = "/images/rooms/sala31" + ViewBag.estadoSalaID + ".jpg";

            <img src="@url" class="mainimg">

            if (ViewBag.estadoSalaID == 1)
            {
                <head>
                    <meta http-equiv="refresh" content="2; url=@Url.Action("Dialogo", "Home", new{dialogo=1})" />
                </head>
            }
            else if (ViewBag.estadoSalaID == 2)
            {
                <!--FLECHAS DE CAMBIO DE HABITACION-->
                <a href='@Url.Action("Habitacion", "Home", new{sala=21})' class="arrow arrow3121" tabindex="-1"></a>
                <a href='@Url.Action("Habitacion", "Home", new{sala=51})' class="arrow arrow3151" tabindex="-1"></a>
            }
        }
    </main>
</body>