@{
    ViewData["Title"] = "habitacion31";
}
<body class="bodyGame">
    <main class="game">
        <img src="/images/rooms/sala313.jpg" class="mainimg">

        <!--FLECHAS DE CAMBIO DE HABITACION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=21})' class="arrow arrow3121"></a>
        <a href='@Url.Action("Habitacion", "Home", new{sala=51})' class="arrow arrow3151"></a>
    </main>
</body>