@{
    ViewData["Title"] = "habitacion13";
}

<main class="game">
    <img src="/images/rooms/sala131.jpg" class="mainimg">

    <!--FLECHAS DE CAMBIO DE HABITACION-->
    <a href='@Url.Action("Habitacion", "Home", new{sala=12})' class="arrow arrow1312"></a>

</main>