@{
    ViewData["Title"] = "habitacion12";
}
<body class="bodyGame">
    <main class="game">
        @{
            string url = "/images/rooms/sala12" + ViewBag.estadoSalaID + ".jpg";
        }
        <img src="@url" class="mainimg">

        <!--CAMBIO DE POSICION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=11})' class="arrow arrow1211"></a>
        <a href='@Url.Action("Habitacion", "Home", new{sala=13})' class="hitbox hitbox1213"></a>
        
        <!--CONTRASEÑA-->
        <form action='@Url.Action("Resolver", "Home")' autocomplete="off">
            <input type="hidden" name="sala" value="12">
            <input type="password" name="contrasena" required class="text text12">
            <input type="submit" hidden>
        </form>

        @{
            if (ViewBag.estadoSalaID == 2){
                <style>
                    .text12{
                        right: 100vw;
                    }
                </style>
            }
        }
    </main>
</body>