@{
    ViewData["Title"] = "habitacion42";
}
<body class="bodyGame">
    <main class="game">
        <img src="/images/rooms/sala421.jpg" class="mainimg">

        <!-- CAMBIO DE POSICION -->
        <a href='@Url.Action("Habitacion", "Home", new{sala=41})' class="arrow arrow4241" tabindex="-1"></a>
        <a href='@Url.Action("Habitacion", "Home", new{sala=43})' class="hitbox hitbox4243" tabindex="-1"></a>
    </main>
</body>