@{
    ViewData["Title"] = "habitacion41";
}
<body class="bodyGame">
    <main class="game">
        <img src="/images/rooms/sala411.jpg" class="mainimg">

        <!--FLECHAS DE CAMBIO DE HABITACION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=21})' class="arrow arrow4121"></a>

        <!--CAMBIO DE POSICION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=42})' class="arrow arrow4142"></a>
    </main>
</body>