@{
    ViewData["Title"] = "habitacion43";
}
<body class="bodyGame">
    <main class="game">
        <img src="/images/rooms/sala431.jpg" class="mainimg">

        <!-- CAMBIO DE POSICION -->
        <a href='@Url.Action("Habitacion", "Home", new{sala=42})' class="arrow arrow4342" tabindex="-1"></a>

        <!-- HITBOX DE LOS BOTONES -->
        <a href='@Url.Action("BotonesStanca", "Home", new{num=1})' class="hitbox hitboxStanca1 botonStanca" tabindex="-1"></a>
        <a href='@Url.Action("BotonesStanca", "Home", new{num=1})' class="hitbox hitboxStanca2 botonStanca" tabindex="-1"></a>
        <a href='@Url.Action("BotonesStanca", "Home", new{num=1})' class="hitbox hitboxStanca3 botonStanca" tabindex="-1"></a>
    </main>
</body>