@{
    ViewData["Title"] = "habitacion41";
}
<body class="bodyGame">
    <main class="game">
        <img src="/images/rooms/sala411.jpg" class="mainimg">

        <!--FLECHAS DE CAMBIO DE HABITACION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=21})' class="arrow arrow4121" tabindex="-1"></a>

        <!--CAMBIO DE POSICION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=42})' class="arrow arrow4142" tabindex="-1"></a>

        <!-- HITBOX DEL MARCADOR AMARILLO -->
        <a href='@Url.Action("Marcador", "Home", new{sala=41, marcador="amarillo"})' class="hitbox hitboxAmarillo" tabindex="-1"></a>
    </main>
</body>