@{
    ViewData["Title"] = "Creditos";
}
<link rel="stylesheet" href="css/site.css">

<header>
    <nav>
        <ul>
            <a href='@Url.Action("Jugar", "Home")'>Jugar</a>
            <a href='@Url.Action("Tutorial", "Home")'>Tutorial</a>
        </ul>
    </nav>
    <h1>Data Breach</h1>
    <nav>
        <ul>
            <a href='@Url.Action("Index", "Home")'>Menu Principal</a>
            <a href='@Url.Action("Creditos", "Home")'>Creditos</a>
        </ul>
    </nav>
</header>
<main>
<h1>Creditos</h1>
<h2>El equipo</h2>
    <!--Insertar imagen grupal de los 3 aquí-->
<hr>
<div>
    <!--Insertar imagen del primero de izquierda a derecha en la fotoaquí-->
    <p><!--rol--></p>
    <p><!--rol--></p>
    <p><!--rol--></p>
</div>
<div>
    <!--Insertar imagen del segundo de izquierda a derecha en la foto aquí-->
    <p><!--rol--></p>   
    <p><!--rol--></p>
    <p><!--rol--></p>
</div>
<div>
    <!--Insertar imagen del tercero de izquierda a derecha en la foto aquí-->
    <p><!--rol--></p>
    <p><!--rol--></p>
    <p><!--rol--></p>
</div>

</main>
<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>