@{
    ViewData["Title"] = "Creditos";
}

<header>
    <nav>
        <li>
            <a href='@Url.Action("Comenzar", "Home")' class="button">Comenzar</a>
            <a href='@Url.Action("Tutorial", "Home")' class="button">Tutorial</a>
        </li>
    </nav>
    <h1>Data Breach</h1>
    <nav>
        <li>
            <a href='@Url.Action("Index", "Home")' class="button">Menu Principal</a>
            <a href='@Url.Action("Creditos", "Home")' class="button">Creditos</a>
        </li>
    </nav>
</header>

<main class="creditosMain">
    <h1 class="title">CREDITOS</h1>
    <section class="content">
        <h2>El equipo</h2>
            <!--Insertar imagen grupal de los 3 aquí-->
        <hr>
        <div>
            <!--Insertar imagen del primero de izquierda a derecha en la fotoaquí-->
            <h3>Mati Ezequiel Grzenda</h3>
            <p>Main Developer</p>
            <p>Fotografo</p>
            <p>UI Designer</p>
        </div>
        <div>
            <!--Insertar imagen del segundo de izquierda a derecha en la foto aquí-->
            <h3>Santino Aguilera</h3>
            <p>Web Developer</p>   
            <p>Developer</p>
            <p>UI Designer</p>
        </div>
        <div>
            <!--Insertar imagen del tercero de izquierda a derecha en la foto aquí-->
            <h3>Tiziana Emma Mattioda</h3>
            <p>Idea Principal</p>
            <p>Developer</p>
            <p>Designer</p>
        </div>
    </section>
</main>
<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>