<header>

</header>
<main>
<h1>Creditos</h1>
<h2>El equipo</h2>
    <!--Insertar imagen grupal de los 3 aquí-->
<hr>
<div>
    <!--Insertar imagen del primero de izquierda a derecha en la fotoaquí-->
    <p><!--rol--></p>
    <p><!--rol--></p>
    <p><!--rol--></p>
</div>
<div>
    <!--Insertar imagen del segundo de izquierda a derecha en la foto aquí-->
    <p><!--rol--></p>   
    <p><!--rol--></p>
    <p><!--rol--></p>
</div>
<div>
    <!--Insertar imagen del tercero de izquierda a derecha en la foto aquí-->
    <p><!--rol--></p>
    <p><!--rol--></p>
    <p><!--rol--></p>
</div>

</main>
<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>