@{
    ViewData["Title"] = "habitacion3";
}

<main class="game">
    <img src="/images/rooms/sala313.jpg" class="mainimg">

    <!--FLECHAS DE CAMBIO DE HABITACION-->
    <a href='@Url.Action("Habitacion", "Home", new{sala=2})' class="arrow arrow32"></a>
    <a href='@Url.Action("Habitacion", "Home", new{sala=5})' class="arrow arrow35"></a>
</main>