@{
    ViewData["Title"] = "Index";
}
<header>

</header>
<main>
    <div>
        <h1>Data Leak</h1>
        <a href='@Url.Action("Jugar", "Home")'>Jugar</a>
        <a href='@Url.Action("Tutorial", "Home")'>Tutorial</a>
        <a href='@Url.Action("Creditos", "Home")'>Creditos</a>
    </div>
</main>
<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>
