@{
    ViewData["Title"] = "Home Page";
}
<header>

</header>
<main>
    <div class="text-center">
        <h1>Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</main>
<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>
