<header>

</header>
<main>
    <h1>Tutorial</h1>
    <p>¡Oh no! ¡Te has quedado encerrado en el CIDI! Ahora, te toca escapar de una escuela vacia, encontrando pistas y soluciones.</p>
    <h2>Controles</h2>
    <p>Haz click en las flechas que aparezcan en imagen para moverte.</p>
    <!--Insertar imagen aquí de la flecha-->
    <p>Clickea sobre objetos que parezcan ser relevantes para poder interactuar con ellos.</p>
    <!--Insertar imagen aquí de un objeto relevante-->
    <p>¡Escapa del CIDI y demuestra que sos un verdadero estudiante de Info!</p>
</main>
<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>