@{
    ViewData["Title"] = "Tutorial";
}

<header>
    <nav>
        <li>
            <a href='@Url.Action("Comenzar", "Home")' class="button">Jugar</a>
            <a href='@Url.Action("Tutorial", "Home")' class="button">Tutorial</a>
        </li>
    </nav>
    <h1>Data Breach</h1>
    <nav>
        <li>
            <a href='@Url.Action("Index", "Home")' class="button">Menu Principal</a>
            <a href='@Url.Action("Creditos", "Home")' class="button">Creditos</a>
        </li>
    </nav>
</header>

<main class="tutorialMain">   
    <h1 class="title">TUTORIAL</h1>
    <div class="tutorialText">
        <p>¡Oh no! ¡Te has quedado encerrado en el CIDI! Ahora, te toca escapar de una escuela vacia, encontrando pistas y soluciones.</p>
    </div>
    <section class="content">
        <h2>CONTROLES</h2>
        <div class="tutorialCenter">
            <div class="circleText circleLeft">
                <p>Haz click en las flechas que aparezcan en imagen para moverte.</p>
            </div>
            <img src="images/screenshots/archivo.ext" alt="Imagen Izquierda" class="imagesLeft" id="image1">
            <img src="images/screenshots/archivo.ext" alt="Imagen Derecha" class="imagesRight" id="image2">
            <div class="circleText circleRight">
                <p>Clickea sobre objetos que parezcan ser relevantes para poder interactuar con ellos.</p>
            </div>
        </div>
        <h2>PISTAS</h2>
        <div class="tutorialCenter">
            <img src="images/screenshots/archivo.ext" alt="Imagen Izquierda" class="imagesLeft" id="image1">
            <div class="circleText">
                <p>Hay varias pistas las cuales te pueden servir. Accede a las mismas con el botón de pistas y cambía usando las flechas</p>
            </div>
            <img src="images/screenshots/archivo.ext" alt="Imagen Derecha" class="imagesRight" id="image2">
        </div>
        <div class="miniTutorialText">
            <p>No te olvides de poner el juego en pantalla completa para mejorar tu experiencia</p>
        </div>
        <div class="miniTutorialTextRed">
            <p>JUGAR SOLO EN UN MONITOR CON UNA RELACIÓN DE ASPECTO DE 16:9, DE LO CONTRARIÓ, PODRÍAN HABER PROBLEMAS EN EL POSICIONAMIENTO DE LAS FLECHAS.</p>
        </div>
    </section>
    <div class="tutorialText">
        <p>¡Escapa del CIDI y demuestra que sos un verdadero estudiante de Info!</p>
    </div>
</main>

<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>