@{
    ViewData["Title"] = "Victoria";
}

<main class="victoriaMain">
    <img src="/images/misc/ConfettiLeft.png" class="imagesLeft">
    <div class="titleCenter">
        <h1 class="victoriaTitle">FELICIDADES</h1>
        <p class="victoriaText">¡Has escapado del CIDI! Ahora, puedes correr hacia la puerta y... no hay nadie. ¿Supongo que ahora te toca escapar de ORT?</p>
        <p class="victoriaCliffhanger">Continuara... o no.</p>
    </div>
    <img src="/images/misc/ConfettiRight.png" class="imagesRight">
</main>

<!--<img src="/images/misc/Confootteri.png" class="footerImg">-->