@{
    ViewData["Title"] = "Victoria";
}
<body class="bodyVictoria">
    <main class="mainHome victoriaMain">
        <div class="victoriaLeft">
            <img src="~/images/misc/ConfettiLeft.png" class="imagesLeft" style = "width:50%; height:auto;">
            <img src="~/images/misc/ConfettiLeft.png" class="imagesLeft" style = "width:50%; height:auto;">
        </div>
        <div class="titleCenter">
            <h1 class="victoriaTitle">FELICIDADES</h1>
            <p class="victoriaText">¡Has escapado del CIDI! Ahora, puedes correr hacia la puerta y... no hay nadie. ¿Supongo que ahora te toca escapar de ORT?</p>
            <p class="victoriaCliffhanger">Continuara... o no.</p>
        </div>
        <div class="victoriaRight">
            <img src="~/images/misc/ConfettiRight.png" class="imagesRight" style = "width:50%; height:auto;">
            <img src="~/images/misc/ConfettiRight.png" class="imagesRight" style = "width:50%; height:auto;">
        </div>
    </main>

    <img src="~/images/misc/Confootteri.png" class="footerImg">
</body>