@{
    ViewData["Title"] = "Victoria";
}

<main>
    <h1>FELICIDADES</h1>

    <p>¡Has escapado del CIDI! Ahora, puedes correr hacia la puerta y... no hay nadie. ¿Supongo que ahora te toca escapar de ORT?</p>

    <p>Continuara... o no.</p>
</main>

<footer>
    <p>Inserte Copyright aquí © 2024-2024</p>
</footer>