*
{
    margin: 0px;
    /*border: 1px solid black;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
    background-color: black;
}

/* Header */

header
{
    display: flex;
    text-align: center;
    background-color: #6D9DC5;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 1%;
}

header li
{
    display: flex;
    justify-content: space-evenly;
}

.button
{
    border-radius: 10px;
    background-color: #8BD8DC;
    color: white;   
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    margin: 0 5%;
}

.button:hover
{
    transform:scale(1.2);
}

/* Main */

.indexMain
{
    padding-top: 5%;
    padding-bottom: 6%;
    background-color: #3066BE;
    display: flex;
    justify-content: space-around;
}

.tutorialMain
{
    padding-top: 5%;
    padding-bottom: 6%;
    width: 10px 0%;
    background-color: #3066BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tutorialMain h1.title
{
    margin-bottom: 20px;
    font-size: 2.5em;
}

.creditosMain
{
    padding-top: 5%;
    padding-bottom: 6%;
    width: 10px 0%;
    background-color: #3066BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.victoriaMain
{
    padding-top: 5%;
    padding-bottom: 6%;
    width: 10px 0%;
    background-color: #3066BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

main div
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.imagesLeft
{
    float: left;
    padding-left: 10%;
    padding-right: 5%;
}

.imagesLeft img
{
    height: 100px;
    width: 300px;
}

/* Text and Positioning Styles */

.content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.tutorialCenter
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.creditosCenter
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 20px 5%;
}

.creditosHeader2
{
    background-color: #6D9DC5;
    border-radius: 50px;
    width: 5%;
    height: 30%;
    padding: 0.5%;
    font-size: larger;
}

.creditosText
{
    background-color: #6D9DC5;
    border-radius: 50px;
    padding: 0.5%;
    margin: 2%;
    font-size: larger;
}

.victoriaTitle
{
    background-color: #6D9DC5;
    border-radius: 50px;
    padding: 0.5%;
    margin: 2%;
    text-align: center;
    font-size:xx-large;
}

.victoriaText
{
    background-color: #6D9DC5;
    border-radius: 50px;
    width: 30%;
    padding: 0.5%;
    margin: 2%;
    font-size: larger;
}

.victoriaCliffhanger
{
    background-color: #6D9DC5;
    border-radius: 50px;
    width: 10%;
    padding: 0.5%;
    margin: 2%;
    font-size: larger;
}

.victoriaImg
{
    
}

.titleCenter
{
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.titleCenter a
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.imagesRight
{
    float: right;
    padding-right: 10%;
    padding-left: 5%;
}

.imagesRight img
{
    height: 100px;
    width: 300px;
}

.spaceBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.circleText
{
    background-color: #6D9DC5;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.circleLeft
{
    margin-right: auto;
    margin-left: 5%;
}

.circleRight
{
    margin-left: auto;
    margin-right: 5%;
}

.tutorialText
{
    background-color: #6D9DC5;
    border-radius: 50px;
    width: 30%;
    height: 30%;
    font-size: larger;
}

.miniTutorialText
{
    background-color: #6D9DC5;
    border-radius: 50px;
    width: 30%;
    height: 30%;
    padding: 0.5%;
    font-size: large;
}

.miniTutorialTextRed
{
    background-color: red;
    border-radius: 10px;
    width: 25%;
    height: 20%;
    font-size: large;
    color: white;
    padding: 0.2%;
    margin: 2%;
}

.tutorialText p
{
    margin: 3% 5%;
}

/* Juego */

.game{
    position: relative;
    display: flex;
    justify-content: center;
}

.mainimg{
    position: absolute;
    height: 100vh;
    z-index: -1;
}

/* Flechas */

.arrow{
    position: relative;
    background-image: url('/images/arrows/default.png');
    background-size: cover;
    height: 17vh;
    width: 6vw;
}

.arrow:hover{
    background-image: url('/images/arrows/hover.png');
}

.hitbox{
    position: relative;
    background-color: white;
    height: 1vh;
    width: 1vw;
}

.hitbox1112{
    height: 13vh;
    width: 10vw;
    top: 39vh;
    left: 19vw;
}

.arrow1121{
    top: 80vh;
    left: 5vw;
}
.arrow1211{
    top: 0.5vh;
    left: 1vw;
    rotate: 90deg;
}

.hitbox1213{
    height: 5vh;
    width: 63vw;
    top: 95vh;
    right: 1vw;
}

.hitbox2122{
    height: 8vh;
    width: 7.5vw;
    top: 40vh;
    right: 33.3vw;
}

.hitbox4243{
    height: 43vh;
    width: 40vw;
    top: 32vh;
    left: 11.5vw;
}

.hitbox5152{
    height: 21vh;
    width: 15vw;
    top: 76vh;
    right: 28vw;
}

.arrow1312{
    top: 0.5vh;
    right: 30.5vw;
    rotate: 90deg;
}

.arrow2111{
    top: 80vh;
    left: 2.853vw;
}

.arrow2141{
    top: 76vh;
    left: 38vw;
    rotate: -40deg;
}

.arrow2131{
    height: 6vh;
    width: 2.1vw;
    top: 32vh;
    left: 4vw;
    rotate: -90deg;
}

.arrow2161{
    height: 6vh;
    width: 2.1vw;
    top: 32vh;
    right: 13vw;
    rotate: 90deg;
}

.arrow2221{
    right: 30vw;
    rotate: 90deg;
}

.arrow3121{
    top: 80vh;
    left: 2.47vw;
}

.arrow3151{
    height: 14vh;
    width: 4.95vw;
    top: 73vh;
    left: 21vw;
    rotate: 180deg;
}

.arrow4121{
    top: 80vh;
}

.arrow4142{
    height: 14vh;
    width: 4.95vw;
    top: 62vh;
    left: 12vw;
    rotate: 173deg;
}

.arrow4241{
    top: 40vh;
    left: 3vw;
    rotate: 192deg;
}

.arrow4342{
    right: 30vw;
    rotate: 90deg;
}

.arrow5131{
    top: 80vh;
    left: 7.5vw;
}

.arrow5251{
    right: 30vw;
    rotate: 90deg;
}

/* Footer */

footer
{
    background-color: #6D9DC5;
    color: white;
    padding: 2%;
    padding-bottom: 5%;
}

.footerImg
{
    position: absolute;
    padding: 0%;
    padding-bottom: 0%;
    top: 350px;
    width: 100%;
}