@{
    ViewData["Title"] = "habitacion22";
}

<main class="game">
    <img src="/images/rooms/sala222.jpg" class="mainimg">

    <!--CAMBIO DE POSICION-->
    <a href='@Url.Action("Habitacion", "Home", new{sala=21})' class="arrow arrow2221"></a>
</main>